
<table border="1">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Project Manager ID</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let p of projList">
        <tr >
            
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.pm}}</td>
            
            
        </tr>
        <tr>
        <div *ngFor="let pr of projmem" >
            <span *ngIf=" p.id == pr.projid">
                <div *ngFor="let u of users">
                   
                    <span *ngIf="pr.memid == u.id"><li>{{u.name}}-{{u.role}}</li></span>
               
                </div>
            </span>
        </div>
        </tr>
    </tbody>
    
</table>

<form [formGroup]="frmGroup" (ngSubmit)="OnAddProjectManager()" class="form-container">
    <h2>ADD NEW PROJECT</h2>
    <div>
        <label for="ID">PROJECT ID</label>
        <input type="text" value="{{pid}}" readonly>
    </div>
    <div >
        <label for="Project Manager">MANAGER</label>
        <input type="text" value="{{pmid}}" readonly>
            
        <select formControlName="uid" >
            <option value="{{m.id}}" *ngFor="let m of users">{{m.name}}</option>
        </select>
    </div>
    <div>
        <button type="submit">ADD</button>
    </div>
</form>