<h3>Project List</h3>
<div class="divTable">
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Project Manager ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projList">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.pm}}</td>
                <td>
                    <div>
                        <button *ngIf="p.id" (click)="DeleteUser(p.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>