<div class="row">
    <div class="col-lg-12">
        <h3>Project List</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table" style="border-collapse: collapse; ">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        project Manager
                    </th>
                    <th>
                        Actions
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of projectList">
                    <td >
                        {{p.name}}
                    </td>
                    <td *ngIf="p.pm==''">
                        <select >
                            <option *ngFor="let pm of pmList" [value]="pm.name">{{pm.name}}</option>
                        </select>
                        <button>Assign</button>
                    </td>
                    <td *ngIf="p.pm!=''">
                        
                        {{p.pm}}
                    </td>
                    
                        <div>
                            <button >Delete</button> | <button>Edit</button>
                        </div>
                    </tr>
                               
            </tbody>
        </table>
    </div>
</div>
