<div class="row">
    <div class="col-lg-12">
      <h3>PM Dashboard</h3>
      <button (click)="NavigateToAddNewProject()">Add New tASK</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <h4>Assigned Projects</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Assign Member</th>
            <th>Assigned Members</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectList">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>
              <select [(ngModel)]="project.selectedMemberId">
                <option value="" disabled selected>Select Member</option>
                <option *ngFor="let member of memberList" [value]="member.id">
                  {{ member.id }} ({{ member.role }})
                </option>
              </select>
              <button (click)="assignMemberToProject(project.id, project.selectedMemberId)">Assign</button>
            </td>
            <td>
              <ul>
                <li *ngFor="let member of project.assignedMembers">
                  {{ member.id }} ({{ member.role }})
                  <button (click)="removeMemberFromProject(project.id, member.id)">Remove</button>
                </li>
              </ul>
            </td>
            <td>
              <button (click)="deleteProject(project.id)">Delete Project</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>