<!-- <h2>Add New Project Member</h2>
<hr/>
<form [formGroup]="frmGroup" (ngSubmit)="OnAddClick()">
    <div>
        <select formControlName="projectid">
            <option *ngFor="let p in projects" [value]="p.id">{{p.name}}</option>
        </select>
    </div>
    <div>
        <select formControlName="memberid">
            <option *ngFor="let u in users" [value]="u.id">{{u.name}}</option>
        </select>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form> -->
<h2>Add New Project Member</h2>
<hr/>
<form [formGroup]="frmGroup" (ngSubmit)="OnAddClick()">
    <div>
        <select formControlName="projectid">
            <option *ngFor="let p of projects" [value]="p.id">{{p.name}}</option>
        </select>
    </div>
    <div>
        <select formControlName="memberid">
            <option *ngFor="let u of users" [value]="u.id">{{u.name}}</option>
        </select>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form>