 @model FoodDelApp.DTOs.RestaurantDTO

@{
    ViewData["Title"] = "Edit Restaurant";
}


<form asp-action="EditRestaurant" method="post">
    <input type="hidden" asp-for="RestaurantId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OwnerId"></label>
        <input asp-for="OwnerId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>



