<h2>Add New User</h2>
<hr/>
<form [formGroup]="frmGroup" (ngSubmit)="OnAddClick()">
    <div>
        <input type="text" formControlName="name" placeholder="name"/>
    </div>
    <div>
        <input type="email" formControlName="email" placeholder="email"/>
    </div>
    
    <div>
        <input type="password" formControlName="password" placeholder="password"/>
    </div>
    <div>
        <select formControlName="role" >
            <option value="PM">PM</option>
            <option value="DEVELOPER">DEVELOPER</option>
            <option value="QA">QA</option>
        </select>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>

</form>
