<p>Admin DashBoard</p>
<table >
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.role}}</td>
            <td>
                <button *ngIf="u.id" (click)="DeleteUser(u.id)" >Delete</button>
            </td>
        </tr>
 
    </tbody>
</table>
<button (click)="NavigateToAddNewUser()">Add New User</button>
<hr>
 
<table >
    <thead>
        <tr>
            <th>Name</th>
            <th>PM</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of projects">
            <td>{{p.name}}</td>
            <td>{{getusername(p.pm)}}</td>
            <td>
                <button *ngIf="p.id" (click)="DeleteProject(p.id)">Delete</button>
            </td>
        </tr>
 
    </tbody>
</table>
<button (click)="NavigateToAddNewProject()">Add New Project</button>