<div class="dashboard-container">
    <div class="dashboard-title">Admin Dashboard</div>
    
    <div class="dashboard-content">
        <app-user-list></app-user-list>
    </div>
    <div class="dashboard-header">
        
        <button (click)="NavToAddNewUser()">Add New User</button>
    </div>
    
    <div class="dashboard-content">
        <app-project-list></app-project-list>
    </div>
    <div class="dashboard-header">
        <button (click)="NavToAddNewProject()">Add New Project</button>
    </div>
</div>