<form [formGroup]="frmGroup" (ngSubmit)="OnAddUser()" class="form-container">
    <h2>ADD NEW USER</h2>
    <div>
        <label for="NAME">NAME</label>
        <input type="text" formControlName="name">
    </div>
    <div>
        <label for="Email">EMAIL</label>
        <input type="email" formControlName="email">
    </div>
    <div>
        <label for="password">PASSWORD</label>
        <input type="password" formControlName="password">
    </div>
    <div>
        <label for="Role">ROLE</label>
        <select formControlName="role">
            <option value="pmanager">PMANAGER</option>
            <option value="developer">DEVELOPER</option>
            <option value="qa">QA</option>
        </select>
    </div>
    <div>
        <button type="submit">ADD</button>
    </div>
</form>