<h2>Add New User</h2>
<hr>
<form [formGroup]="frmGroup" (ngSubmit)="onAddUser()">
    <div>
        <input type="text" formControlName="name" placeholder="Name">
    </div>
    <div>
        <input type="email" formControlName="uemail" placeholder="Email">
    </div>
    <div>
        <input type="password" formControlName="upassword" placeholder="Password">
    </div>
    <div>
        <select formControlName="role">
            <option value="PM">PM</option>
            <option value="Developer">Developer</option>
            <option value="QA">QA</option>
        </select>
    </div>
    <div>
        <button type="submit" >Add User</button>
    </div>
</form>