<h2>Add New Task</h2>
<hr/>
<form [formGroup]="frmGroup" (ngSubmit)="OnAddClick()">
    <div>
        <select formControlName="projectid">
            <option *ngFor="let p of projectList" [value]="p.id">{{p.name}}</option>
        </select>
    </div>
    <div>
        <input type="text" formControlName="title" placeholder="Enter task title"/>
    </div>
    <div>
        <textarea formControlName="description" placeholder="Enter task description"></textarea>
    </div>
    <div>
        <input type="text" formControlName="tasktype" placeholder="Enter task type"/>
    </div>
    <div>
        <select formControlName="assignedto" >
            <option *ngFor="let u of userList"[value]="u.id">{{u.name}}-{{u.role}}</option>
        </select>
    </div>
    <div>
        <select formControlName="status">
            <option value="ACTIVE">ACTIVE</option>
            <option value="NOTACTIVE">NOTACTIVE</option>
          </select>
    </div>
    <div>
        <button type="submit">Add</button>
    </div>
</form>
