<div class="container">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <br>
    <br>
    <h3>Admin Dashboard</h3>
<hr>
<button (click)="NavigateToAddNewUser()">Add New User</button>
&nbsp;
<button (click)="NavigateToAddNewProject()">Add New Project</button>&nbsp;
<button (click)="NavigateToViewUsers()">View Users</button>&nbsp;
<button (click)="NavigateToViewProjects()">View Projects</button>
<br>
<br>
<button (click)="goToLoginPage()" class="btn btn-primary">Log Out</button>
</div>