<!-- <div style="text-align: center; margin-top: 50px;">
    <h2 style="color: purple;">ADMIN DASHBOARD</h2>
   
    <div style="margin-top: 30px;">
      <button (click)="NavigateToAddNewUser()" style="margin-right: 10px; padding: 10px 20px; font-size: 16px;">Add New User</button>
      <button (click)="NavigateToDeleteUser()" style="padding: 10px 20px; font-size: 16px;">Delete User</button>
    </div>
  </div> -->

  <div style="text-align: center; margin-top: 50px;">
    <h2 style="color: purple;">ADMIN DASHBOARD</h2>
   
    <div style="margin-top: 30px;">
      <button (click)="NavigateToAddNewUser()" style="margin-right: 10px; padding: 10px 20px; font-size: 16px;">Add New User</button>
      <button (click)="NavigateToDeleteUser()" style="margin-right: 10px; padding: 10px 20px; font-size: 16px;">Delete User</button>
      <button (click)="NavigateToAddProject()" style="margin-right: 10px; padding: 10px 20px; font-size: 16px;">Add Project & Assign to PM</button>
      <button (click)="NavigateToViewUsers()" style="margin-right: 10px; padding: 10px 20px; font-size: 16px;">View Users</button>
      <button (click)="NavigateToViewProjects()" style="padding: 10px 20px; font-size: 16px;">View All Projects</button>
    </div>
  </div>
 