

<form [formGroup]="frmGroup" (ngSubmit)="UpdateTask()" class="form-container">
    <h2>Update Task</h2>
    <div>
        <label for="NAME">PROJECT ID</label>
        <input type="text" value="{{pid}}" readonly>
    </div>
    <div >
        <label for="MANAGER">ASSIGN</label>
        <select formControlName="mid" >
            <span *ngFor="let m of projMem">
             <span *ngFor="let u of users"> 
            <option value="{{m.memid}}"  *ngIf="u.id==m.memid">{{u.name}}-{{u.role}}</option></span></span>  
        </select>
    </div>
    <div>
        <button type="submit">ADD</button>
    </div>
</form>