<h2>Admin Dashboard</h2>
<h3>All Users</h3>
<table border="1">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userinfo">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button (click)="NavigateToAddNewUser()">Add New User</button>
<br>
<h3>All Projects</h3>
<table border="1">
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Project Name</th>
      <th>Project Manager</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projectinfo">
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.PM }}</td>
     
    </tr>
  </tbody>
</table>
<br>
<button (click)="NavigatetoAddNewProject()">Add New Project</button>