@@model WebApplication3.Models.OrderDTO

<h2>Order Details</h2>
<p>Order ID: @Model.OrderId</p>
<p>Restaurant: @Model.RestaurantName</p>
<p>Status: @Model.Status</p>
<p>Order Date: @Model.OrderDate</p>
