<h2>Add Comment</h2>
<hr/>
<form [formGroup]="commentForm" (ngSubmit)="OnAddClick()">
    <div>
        <input type="text" [value]="taskId" disabled/>
    </div>
    <div>
        <input type="text" [value]="commentedby" disabled/>
    </div>
    <div>
        <textarea formControlName="description" placeholder="Enter your Comment"></textarea>
    </div>
    <div *ngIf="commentForm.controls['description'].invalid && commentForm.controls['description'].touched">
        <small>Comment is required.</small>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>