<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<h2>ADD NEW TASK!</h2>
<hr/>
<form [formGroup]="frmGroup"(ngSubmit)="OnAddClick()">
    <div>
        PROJECT ID
        <input type="text" formControlName="projid"/>

    </div>
    <br>
    <div>
        TITLE
        <input type="text" formControlName="title"/>

    </div>
    <br>
    <div>
        TASKTYPE
        <select formControlName="tasktype">
            <option value="BUG">BUG</option>
            <option value="NEW FEATURE">NEW FEATURE</option>
           

        </select>

    </div>
    <br>
    <div>
        ASSIGNED TO
        <input type="text" formControlName="assignedto"/>

    </div>
    <br>
    <div>
        STATUS
        <select formControlName="status">
            <option value="OPEN">OPEN</option>
            <option value="DEVELOPER">DEVELOPER</option>
            <option value="QA">QA</option>
            <option value="CLOSED">CLOSED</option>
        </select>

    </div>
    <br>
    <div>
    <button type="submit">Add Task</button>
    </div>
</form>
