
<form [formGroup]="frmGroup" (ngSubmit)="OnAddComment()" class="form-container">
    <h2>ADD NEW PROJECT</h2>
    <div>
        <label for="TID">TASK ID</label>
        <input type="text" value="{{tid}}" readonly>
    </div>
    <div >
        <label for="title">TASK TITLE</label>
        <input type="text" value="{{tit}}" readonly>
    </div>
    <div>
        <label for="description">COMMENT DESCRIPTION</label>
        <input type="text" formControlName="desc">
    </div>
    <div>
        <button type="submit">ADD</button>
    </div>
</form>