<h1>Add New Project</h1>
<hr />

<form [formGroup]="frmGroup" (ngSubmit)="OnAddClick()">
  <!-- Project ID Input -->
  <div>
    <label for="projectId">Project ID:</label>
    <input
      type="text"
      formControlName="id"
      placeholder="Enter Project ID"
    />
  </div>

  <!-- Project Name Input -->
  <div>
    <label for="projectName">Project Name:</label>
    <input
  
      type="text"
      formControlName="name"
      placeholder="Enter Project Name"
    />
  </div>

  <!-- Project Manager Name Input -->
  <div>
    <label for="projectManager">Project Manager Id:</label>
    <input
   
      type="text"
      formControlName="pm"
      placeholder="Enter Manager Name"
    />
  </div>

  <!-- Submit Button -->
  <div>
    <button type="submit">Add</button>
  </div>
</form>
