<div class="row">
    <div class="col-lg-12">
        <h3>Member Dashboard</h3>
        <button (click)="NavigateToAddNewProject()">Add New Project</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of assignedProjects">
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>