<h2>Manage Project</h2>


<div>
  <h3>Project Members</h3>
  <table border="1" width="100%">
    <tr>
      <th>Member ID</th>
      <th>Member Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let member of members">
      <td>{{ member.id }}</td>
      <td>{{ member.name }}</td>
      <td>{{ member.role }}</td>
      <td>
        <button (click)="member.id && removeMember(member.id)">Remove</button>
      </td>
    </tr>
  </table>
</div>



<div>
  <h3>Add New Member</h3>
  <select [(ngModel)]="selectedMemberId">
    <option value="" disabled>Select a Member</option>
   
    <option *ngFor="let user of availableUsers" [value]="user.id">
      {{ user.name }} ({{ user.role }})
    </option>
  </select>
  <button (click)="assignMember()">Add Member</button>
</div>




<div>
  <h3>Create Task</h3>
  <input [(ngModel)]="taskTitle" placeholder="Task Title" />
  <textarea [(ngModel)]="taskDescription" placeholder="Task Description"></textarea>
  <select [(ngModel)]="assignedMemberId">
    <option value="" disabled>Select a Member</option>
    <option *ngFor="let member of members" [value]="member.id">
      {{ member.name }}
    </option>
  </select>
  <select [(ngModel)]="taskStatus">
    <option value="" disabled>Select Status</option>
    <option value="Pending">Pending</option>
    <option value="In Progress">In Progress</option>
    <option value="Completed">Completed</option>
  </select>

  <button (click)="createTask()">Create Task</button>
</div>


<div>
  <h3>Tasks</h3>
  <table border="1" width="100%">
    <tr>
      <th>Task ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.assignedTo.name }}</td>
      <td>{{ task.status }}</td>
       <td><button (click)="updateTaskStatus(task.id, 'In Progress')">Start</button>
        <button (click)="updateTaskStatus(task.id, 'Completed')">Complete</button>
        <button (click)="deleteTask(task.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
