<p>admin-dashboard</p>
<div>
    <h2>All Users</h2>
    <table border="1" >
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="NavigateToAddNewUser()"> Add New User</button>
  
  <div>
    <h2>All Projects</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>Project Manager (PM)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.id }}</td>
          <td>{{ project.pname }}</td>
          <td>{{ project.pm }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
<!-- <button (click)="NavigateToAddNewUser()"> Add New User</button> -->
<button (click)="NavigateToAddNewProject()"> Add New project</button>