<div class="row">
    <div class="col-lg-12">
        <h3>Task List</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table" style="border-collapse: collapse; ">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                     project Id
                    </th>
                    <th>
                       title
                    </th>
                    <th>
                     tasktype
                    </th>
                    <th>
                       Assigned to
                       </th>
                       <th>
                        status
                       </th>
                       
                  
                  
                </tr>
            </thead>
            <tbody>
             
                    <tr *ngFor="let t of  taskList">
                        <td >
                            {{t.id}}
                        </td>
                        <td >
                            {{t.projid}}
                        </td>
                        <td >
                            {{t.title}}
                        </td>
                        <td >
                            {{t.tasktype}}
                        </td>
                        <td >
                            {{t.assignedto}}
                        </td>
                        <td >
                            {{t.status}}
                        </td>
                      
                    </tr>                
                </tbody>
            </table>
        </div>
    </div>
    
  