<h2> Add Project</h2>

<form [formGroup]="frmGroup" (ngSubmit)="OnAddProject()">
    <div>
      <label for="pname">Project Name</label>
      <input type="text" id="pname" formControlName="pname" placeholder="Enter Project Name" />
    </div>
<br>
    <div>
      <label for="pm">Select Project Manager</label>
      <select id="pm" formControlName="pm">
        <option *ngFor="let User of Users" [value]="User.id">{{ User.name }}({{User.role}})</option>
      </select>
    </div>
  <br>
    <button type="submit">Add</button>
  </form>
  