<h2>User List</h2>
<div class="divTable">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of userList">
                <td>{{r.name}}</td>
                <td>{{r.role}}</td>
                <td>{{r.email}}</td>
                <td>
                    <div>
                        <button *ngIf="r.id" (click)="DeleteUser(r.id)">Delete</button>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
