.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

app-ad-user-list, app-ad-restaurant-list {
    width: 100%;
    margin-bottom: 30px;
}