<h2>User List</h2>
<hr />
<div *ngIf="isLoading">Loading users...</div>
<table *ngIf="!isLoading && users.length > 0" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button >Edit</button>
        <button >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!isLoading && users.length === 0">
  <p>No users found.</p>
</div>
