<h3>Project List</h3>
<div class="divTable">
    <table border="1">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Project Manager ID</th>
                <th>Project Assigned To</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projList;">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.pm}}</td>
                <td>
                    <div *ngFor="let pr of projmem">
                        <span *ngIf="p.id == pr.projid">
                            <div *ngFor="let u of users">
                                <span *ngIf="pr.memid == u.id" class="member-details">
                                    {{u.name}} - {{u.role}}
                                    
                                </span>
                            </div>
                            <button *ngIf="pr.id" (click)="deletemember(pr.id)">DELETE MEMBER</button><br>
                            <br>
                        </span>
                    </div>
                    <button *ngIf="p.id" (click)="AssignUser(p.id, p.pm)">Assign</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>